
body {
    margin: 0;
    font-family: Arial, sans-serif;
}


section.profile {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}


.card {
    width: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    overflow: hidden;
}


.card .gambar img {
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}


.card .deskripsi h2 {
    margin: 10px 0;
    font-size: 1.5em;
    color: #333;
}

.card .deskripsi p {
    font-size: 1em;
    color: #666;
    margin: 0;
    padding: 0 10px;
}


.card .medsos a {
    text-decoration: none;
    color: #007BFF;
    margin: 0 5px;
    font-size: 1em;
    transition: color 0.3s;
}

.card .medsos a:hover {
    color: #0056b3;
}
